body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: blue;
}

input[type=text] {
    font-size: large;
    border-radius: 3px;
    padding: 3px 4px;
    text-align: right;
}

input[type=button] {
    font-size: 1rem;
    padding: 5px 6px;
    color: white;
    background: linear-gradient(rgb(105, 105, 235), rgb(59, 111, 231), rgb(118, 175, 250));
    border: 0.1px none;
    cursor: url(chartjs.png);
}